/* Base Application Styles */
* {
    margin: 0;
    padding: 0;
}
body, html {
    color: #fff;
    background-color: #eee;
    width: 100%;
    height: 100%;
}
.app {
    width: 100%;
    height: 100%;
}

/* stage -- start*/
.stage {
    position: relative;
    width: 100%;
    height: 700px;
}
/* stage -- end */

/* img -- start */
.img-sec {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #ddd;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}
.img-figure {
    position: absolute;
    width: 300px;
    height: 340px ;
    margin: 0;
    padding: 30px;

    background-color: #fff;
    box-sizing: border-box;
    cursor: pointer;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    transition: all ease 1s;
    /*-webkit-backface-visibility: hidden;*/
    /*backface-visibility: hidden;*/
    transform-origin: 0 50% 0;
    -webkit-transform-origin: 0 50% 0;
}

.img-back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    color: #666;
    -webkit-transform: rotateY(180deg) translateZ(1px);
            transform: rotateY(180deg) translateZ(1px);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    background: #fff;
}
.is-inverse {
    -webkit-transform: translate3D(300px, 0 ,0) rotateY(180deg);
            transform: translate3D(300px ,0 ,0) rotateY(180deg);
}
figcaption {
    text-align: center;
}
.img-title {
    margin: 20px 0 0 0;
    color: #a7a0a2;
    font-size: 16px;
}
/* img -- end */
/* controller -- start */
.controller-nav {
    position: absolute;
    left: 0%;
    bottom: 30px;
    width: 100%;
    z-index: 101;

    text-align: center;
}
/* controller -- end*/

